.container {
  border: 5px solid purple;
  width: 700px;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.child-1 {
  height: 150px;
  width: 150px;
  font-size: 40px;
  color: white;
  background-color: black;
  /* flex: 1;
  order: 2; */
}

.child-2 {
  height: 150px;
  width: 150px;
  font-size: 40px;
  color: white;
  background-color: red;
  /* flex: 2;
  order: 1; */
}

.child-3 {
  height: 150px;
  width: 150px;
  font-size: 40px;
  color: white;
  background-color: green;
  /* flex: 1;
  order: 3; */
}
